*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes mensagem {
    0%{
        transform: rotate(0);
    }
    20%{
        transform: rotate(2deg);
    }
    40%{
        transform: rotate(-2deg);
    }
    60%{
        transform: rotate(2deg);
    }
    80%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0);
    }

}
body{
    background-color: rgba(0, 0, 0, 0.655);
    width: 100vw;
    height: 100vh;
}
h1{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.429);
    box-shadow: 2px 2px 5px #00000057;
    padding: 2px;
}
.mensagem {
    position: absolute;
    top: 6%;
    right: 1%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    width: 200px ;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(244, 9, 9, 0.774);
    display: none;
}
.containe-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-width: 750px;
}
.containe-tarefas{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 251, 251, 0.311);
    border-radius: 15px 0;
    box-shadow: 2px 2px 5px #01010147;
    margin: 10px 0;
}
.input-tarefa{
    width: 90%;
    padding: 3px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: none;
}
.button-adicionar{
    width: 50%;
    padding: 3px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: #0b0be8;
}

li{
    display: flex;
    justify-content: space-between;
    text-indent: 5px;
    width: 300px;
    list-style: none;
    background-color: #000000ad;
    color: #fff;
    margin: 7px;
    padding: 5px;
    border-radius: 10px;
}
